/********************************************************/
/* FORUM */
/********************************************************/

table,
td.casella_elemento,
div.elementi_elenco,
.link_back {
	background-color: #0b170f !important;
}

div.pagina_forum div.elenco_record_gioco {
	padding: 0px 200px 20px 200px;
}

div.pagina_forum div.capitolo_elenco {
	background-color: #203120;
}

/* div.pagina_forum div.page_body {
	margin-top: 50px;
} */

div.pagina_forum div.panels_box {
	background-color: #d1d1d100 !important;
}

div.pagina_forum div.elenco_record_gioco table td {
	border: none;
}

div.pagina_forum div.elenco_record_gioco table tr {
	border: none;
}