/* *********************************************************************************************
************************* CUSTOM CSS FILE TO OVERLOAD LEGACY STYLES ***************************
*********************************************************************************************/


.login-table {
    background-image: url(img/login.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 760px;
    width: 816px;
    position: fixed;
    top: 365px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 15px;
}

.login-table input {
    border: none;
    color: #ffffff;
    background: transparent;
    width: 159px;
    height: 26px;
    padding: 0 0 0 3px;

    /* margin-right: 70px; */
    margin-left: 100px;
}

.login-table #username {
    margin-top: 60px;
}

.login-table #password {
    margin-top: 20px;
}


.main_body {
    background: #031011;
    transform: scale(0.7);
}
.div-form {
    width: 392px;
    /* height: 395px; */
    text-align: center;
}

span#documenti {
    /* background-image: url(img/login_documentazione.png);
    width: 220px;
    height: 50px;
    display:block;
    margin-right: 0px;
    background-repeat: no-repeat; */
}

div.crediti {
    background-image: url(img/login_ringraziamenti.png);
    width: 220px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 1px;
    background-repeat: no-repeat;
}
div.box-documentazione {
        /* margin-bottom: 50px; */
}
input[type=image].btn-submit{
    /* width: 50px; */
    height: 50px;
    /* margin: 15px 0px 0px 98px; */
    padding: 0;
}
div.box-iscrizione {
    margin-left: 30px;
    /* background-image: url(img/login_ringraziamenti.png); */
    /* width: 220px; */
    /* height: 50px; */
    /* margin-right: 10px; */
    /* margin-bottom: 1px; */
    /* background-repeat: no-repeat; */
}

span#iscrizione {
    /* background-image: url(img/login_iscrizione.png); */
    /* width: 220px;
    height: 50px; */
    /* display: block; */
    /* margin-right: 15px; */
    /* background-repeat: no-repeat; */
}


/* iscrizione */

.pagina_iscrizione {
    background-image: url(img/iscrizione.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #031011;
    background-position: center;
}
.pagina_iscrizione h2 {
    color: white;
}
.pagina_iscrizione .page_body {
    font-size: 20px;
    color:white;
    margin: 20px 0px 10px 0px;
}

.pagina_iscrizione div.form_field table {
    margin: 0 auto;
}
/* .pagina_iscrizione .page_body div.form_submit{
    margin: 10px 0px 0px 0px;
} */

input, textarea, select
{
  background-color: #1c271e;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  /* font-size: 18px; */
  height: 100%;
  outline: 0;
  padding: 5px 20px 5px;
  /* width: 100%; */
}

select[name=car0],
select[name=car1],
select[name=car2],
select[name=car3],
select[name=car4],
select[name=car5]
{
    width: 120px;
}

div.pagina_iscrizione div.elementi_elenco,
div.pagina_iscrizione td.casella_elemento {
    background-color: #ffffff00;
    font-size: 15px;
}
div.pagina_iscrizione table {
    margin: 0 auto;
}

div.pagina_iscrizione .form_gioco {
    text-align: center;
}

div.side_modules.reset_password {
    background-color: #b9b9b900;
}

div.side_modules input#passrecovery {
    width: 170px;
    margin-left: 156px;
    margin-bottom: 0px;
}

div.pass_rec {
    margin-top: 10px;
}

div.pass_rec input.btn-invia-passwd {
    width: 188px;
    height: 44px;
    margin-left: 78px;
}