/****************************************************************************/
/* STILE DEI MESSAGGI PRIVATI */

/* HELP: Da qui è possibile modificare:
- I font ed i colori dei messaggi privati
- Le dimensioni e la posizione delle finestre dei messaggi privati
- Lo sfondo dei messaggi privati */

/****************************************************************************/

div.pagina_messages_center {
}

/*Testo delle colonne*/
div.pagina_messages_center div.elementi_elenco {
    height: 40px;
}

/*Testo delle colonne*/
div.pagina_messages_center div.pulsanti_elenco {
    display: inline-block;
}

div.pagina_messages_center div.pulsanti_elenco form {
    float: left;
}

/*************************/
/*Visualizzazione del messaggio singolo*/
div.read_message_box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.read_message_box div.infos {
    clear: both;
    text-align: left;
}

div.read_message_box div.infos span.title {
    font-style: italic;
}

div.read_message_box div.infos span.body {
    font-weight: bold;
}

div.read_message_box_text {
    clear: both;
    border: solid 1px #d9d9d9;
    background-color: #999;
    padding: 10px;
    margin: 20px 0 5px 0;
    -moz-border-radius: 5px; /* Bordi arrotondati */
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

div.read_message_box_forms {
    clear: both;
    margin-bottom: 40px;
}

div.read_message_box_form {
    float: right;
}

div.read_message_box_form input {
    height: 20px;
    width: 20px;
}

div.msggroup_container {
    max-width: 80%;
	margin: 0 auto;
}
div.msggroup_container .dsgroup{
    text-align: center;
	padding: 8px;
    background-color: #a0a0a0;
}
div.msggroup_container .alredyRead {
    font-weight: bold;
    color: #333;
	padding: 20px 0px 0px 0px;
    margin: auto;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #ddd;
}
div.msg_container {
    width: auto;
	min-width: 250px;
    max-width: 90%;
    clear: both;
    padding: 20px;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 4px;
    border: solid 1px #a7a6a6;
    background-color: lightgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
div.msg_container.me {
	float: right;
	text-align: right;
}
div.msg_container.other, div.msg_container.fromsystem {
	float: left;
	text-align: left;
}
div.msg_container.system {
    font-style: italic;
    color: #444;
	padding: 15px 5px;
    margin: auto;
    background-color: transparent;
    border: transparent;
}
